# vim plugin manager
[submodule "pathogen"]
  path = pathogen
  url = https://github.com/tpope/vim-pathogen.git
# autocomplete with tab
[submodule "bundle/supertab"]
  path = bundle/supertab
  url = https://github.com/ervandew/supertab.git
# command-t like mate
[submodule "bundle/command-t"]
  path = bundle/command-t
  url = https://github.com/wincent/Command-T.git
# nerdtree is nerdtree
[submodule "bundle/nerdtree"]
  path = bundle/nerdtree
  url = https://github.com/scrooloose/nerdtree.git
# easy way show file's buffer
[submodule "bundle/bufexplorer"]
  path = bundle/bufexplorer
  url = https://github.com/corntrace/bufexplorer.git
  ignore = dirty
# show a line with file details
[submodule "bundle/vim-powerline"]
  path = bundle/vim-powerline
  url = https://github.com/Lokaltog/vim-powerline.git
# automatic closing of quotes, parenthesis, brackets, etc
[submodule "bundle/delimitMate"]
  path = bundle/delimitMate
  url = https://github.com/Raimondi/delimitMate.git
# snippets like textmate behavior
[submodule "bundle/snipmate"]
  path = bundle/snipmate
  url = https://github.com/msanders/snipmate.vim.git
  ignore = dirty
# plugin that end certain structures automatically
[submodule "bundle/endwise"]
  path = bundle/endwise
  url = https://github.com/tpope/vim-endwise.git
# repeat last command with '.'
[submodule "bundle/repeat"]
  path = bundle/repeat
  url = https://github.com/tpope/vim-repeat
# work with rails easy
[submodule "bundle/vim-rails"]
  path = bundle/vim-rails
  url = https://github.com/tpope/vim-rails
# syntax highligh puppet scripts
[submodule "bundle/vim-puppet"]
  path = bundle/vim-puppet
  url = https://github.com/rodjek/vim-puppet.git
# plugin that align text
[submodule "bundle/tabular"]
  path = bundle/tabular
  url = https://github.com/godlygeek/tabular.git
# performs a recursive diff on two directories
[submodule "bundle/dirDiff"]
  path = bundle/dirDiff
  url = https://github.com/vim-scripts/DirDiff.vim.git
# search a pattern recursively in directory
[submodule "bundle/ack"]
  path = bundle/ack
  url = https://github.com/mileszs/ack.vim.git
# show git diff in editor
[submodule "bundle/vim-gitgutter"]
  path = bundle/vim-gitgutter
  url = https://github.com/airblade/vim-gitgutter.git
# show syntax errors after save
[submodule "bundle/syntastic"]
  path = bundle/syntastic
  url = https://github.com/scrooloose/syntastic.git
