# autocomplete with tab
[submodule "bundle/supertab"]
    path = bundle/supertab
    url = git://github.com/ervandew/supertab.git
# command-t like mate
[submodule "bundle/command-t"]
    path = bundle/command-t
    url = git://git.wincent.com/command-t.git
# nerdtree is nerdtree
[submodule "bundle/nerdtree"]
    path = bundle/nerdtree
    url = git://github.com/scrooloose/nerdtree.git
# easy way show file's buffer
[submodule "bundle/bufexplorer"]
    path = bundle/bufexplorer
    url = git://github.com/corntrace/bufexplorer.git
    ignore = dirty
# show a line with file details
[submodule "bundle/vim-powerline"]
    path = bundle/vim-powerline
    url = git://github.com/Lokaltog/vim-powerline.git
# automatic closing of quotes, parenthesis, brackets, etc
[submodule "bundle/delimitMate"]
    path = bundle/delimitMate
    url = git://github.com/Raimondi/delimitMate.git
# snippets like textmate behavior
[submodule "bundle/snipmate"]
    path = bundle/snipmate
    url = git://github.com/msanders/snipmate.vim.git
    ignore = dirty
